* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "PT Serif", serif;
}

body {
    background-color: black;
  }

/*===================== home =====================*/  
.home {
  height: 450px;
  background-image: url(https://images.pexels.com/photos/374897/pexels-photo-374897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.overlay {
  background: rgba(202, 202, 202, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  ===================== helpers ===================== */
.text-center {
  text-align: center;
}

.bg-white{
  background-color: white;
}

/* ===================== nav ===================== */  /* */ /* */ /* */ /* */
.nav {
  background-color: #1c1c1c;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.nav ul.hide{
  display: none;
}

li a:hover {
    background-color: cyan;
    color: black;
}

.nav a {
  text-decoration: none;
  color: #1acfd0;
  padding: 2px 10px 0;
}

/*.text-box {}*/

/* ===================== titles =====================  */
h1 {
  font-size: 2.5rem;
}

h3 {
 color: white;
 font-size: 1.5rem;
}

h4 {
  color: white;
}
/* ===================== About Me =====================  */

.card-img {
  background-image: url(images/mypic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 2%;
}

.card-text {
  padding: 1em;
  background-color: beige;
  height: 100%;
  border-radius: 2%;
  font-size: 1.2rem;
}

/*  ===================== Tools ===================== */

[class*="card-tool-"] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  }

.card-tool-html5 {
  background-image: url(images/html.png);
}

.card-tool-css3 {
  background-image: url(images/css3.jpg);
}

.card-tool-js {
  background-image: url(images/js.jpg);
}

.card-tool-netlify {
  background-image: url(images/netlify.png);
}

.card-tool-github {
  background-image: url(images/github2.png);
}

.card-tool-git {
  background-image: url(images/git.png);
  background-color: white;
}

.card-tool-figma {
  background-image: url(images/figma.png);
}

.card-text span {
  font-weight: bold;
}

/*  ===================== My work ===================== */
[class*="card-work-"] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.card-work-trivia {
  background-image: url(images/trivia.png);
}

.card-work-trivia:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.card-work-csn {
  background-image: url(images/phone_app.jpg);
}

.card-work-csn:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.card-work-somework {
background-image: url(images/somework.jpg);
}

.card-work-somework:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.card-work-anotherwork {
  background-image: url(images/eduardo-rosas.jpg);
}

.card-work-anotherwork:hover {
  transform: scale(1.1);
  transition: all 1s;
}
